* {
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  text-align: center;
}

.background {
  max-width: 1440px;
  margin: 100px auto;
  padding: 50px;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 14px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 8px;
}

p {
  padding: 4px 8px;
}

.heading {
  font-weight: 700;
  font-size: 20px;
}
